.card {
  padding: 0.25rem;
  height: 4rem;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  outline: none;

  &.matched .front {
    background-image: linear-gradient(
      to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673
    );
    transition: all 0.4s ease-in-out;
    color: white;
    font-weight: 700;
    cursor: default;
  }

  &.flipped {
    cursor: default;

    .inner {
      transform: rotateY(180deg);
    }
  }

  .front,
  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(180deg);
  }

  .back {
    background-image: radial-gradient(
      circle at 150%,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    background-size: 300% 300%;
    font-size: 100px;
    transition: 0.3s ease all;

    &:hover {
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
      transform: scale(1.02);
    }
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}
